### PART C

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('Results.csv')
data = data[['Date','comments']]
data.head(5)

                     Date                                           comments
0  March 24, 2002 10:54PM  I personally think that with a few tweaks the ...
1  March 25, 2002 12:06AM  I am debating a new purchase and these two are...
2  March 25, 2002 10:02AM  Great handling, RWD, excellent engine and the ...
3   March 25, 2002 4:04PM  And no manual tranny. That may not matter to y...
4   March 25, 2002 5:44PM  One beauty of BMW 3 Series is that there are s...

In [4]:
top_brands = ['audi','mercedes','mazda','bmw','nissan','volvo','ford','hyundai','volkswagen','toyota']
freq = np.zeros(len(top_brands))

brand_frequency = {k:v for k,v in zip(top_brands,freq)}
brand_frequency

{'audi': 0.0,
 'bmw': 0.0,
 'ford': 0.0,
 'hyundai': 0.0,
 'mazda': 0.0,
 'mercedes': 0.0,
 'nissan': 0.0,
 'toyota': 0.0,
 'volkswagen': 0.0,
 'volvo': 0.0}

In [5]:
def count_freq(s,key):
  
  ''' Return 1 if brandname occurs in comment, else return 0'''

  if key.lower() in str(s).lower():
    return 1
  else:
    return 0

for key in brand_frequency.keys():
  count = 0
  count += data['comments'].apply(count_freq,args=(key,))
  brand_frequency[key] = count.value_counts()[1]

brand_frequency

{'audi': 338,
 'bmw': 1233,
 'ford': 168,
 'hyundai': 77,
 'mazda': 82,
 'mercedes': 163,
 'nissan': 205,
 'toyota': 136,
 'volkswagen': 18,
 'volvo': 128}

In [6]:
res = [(a, b) for idx, a in enumerate(top_brands) for b in top_brands[idx + 1:]]
freq = np.zeros(len(res))

cooccurence = {k:v for k,v in zip(res,freq)}
cooccurence

{('audi', 'bmw'): 0.0,
 ('audi', 'ford'): 0.0,
 ('audi', 'hyundai'): 0.0,
 ('audi', 'mazda'): 0.0,
 ('audi', 'mercedes'): 0.0,
 ('audi', 'nissan'): 0.0,
 ('audi', 'toyota'): 0.0,
 ('audi', 'volkswagen'): 0.0,
 ('audi', 'volvo'): 0.0,
 ('bmw', 'ford'): 0.0,
 ('bmw', 'hyundai'): 0.0,
 ('bmw', 'nissan'): 0.0,
 ('bmw', 'toyota'): 0.0,
 ('bmw', 'volkswagen'): 0.0,
 ('bmw', 'volvo'): 0.0,
 ('ford', 'hyundai'): 0.0,
 ('ford', 'toyota'): 0.0,
 ('ford', 'volkswagen'): 0.0,
 ('hyundai', 'toyota'): 0.0,
 ('hyundai', 'volkswagen'): 0.0,
 ('mazda', 'bmw'): 0.0,
 ('mazda', 'ford'): 0.0,
 ('mazda', 'hyundai'): 0.0,
 ('mazda', 'nissan'): 0.0,
 ('mazda', 'toyota'): 0.0,
 ('mazda', 'volkswagen'): 0.0,
 ('mazda', 'volvo'): 0.0,
 ('mercedes', 'bmw'): 0.0,
 ('mercedes', 'ford'): 0.0,
 ('mercedes', 'hyundai'): 0.0,
 ('mercedes', 'mazda'): 0.0,
 ('mercedes', 'nissan'): 0.0,
 ('mercedes', 'toyota'): 0.0,
 ('mercedes', 'volkswagen'): 0.0,
 ('mercedes', 'volvo'): 0.0,
 ('nissan', 'ford'): 0.0,
 ('nissan', 'hyundai'): 0.0,
 ('nissan', 'toyota'): 0.0,
 ('nissan', 'volkswagen'): 0.0,
 ('nissan', 'volvo'): 0.0,
 ('volkswagen', 'toyota'): 0.0,
 ('volvo', 'ford'): 0.0,
 ('volvo', 'hyundai'): 0.0,
 ('volvo', 'toyota'): 0.0,
 ('volvo', 'volkswagen'): 0.0}

In [7]:
def count_freq(s,key1,key2):

  ''' Return 1 if both brandname key1 and key2 occur in comment, else return 0'''

  if (key1.lower() in str(s).lower()) and (key2.lower() in str(s).lower()):
    return 1
  else:
    return 0

for key1,key2 in cooccurence.keys():
  count = 0
  count += data['comments'].apply(count_freq,args=(key1,key2))
  cooccurence[(key1,key2)] = count.value_counts()[1]

cooccurence

{('audi', 'bmw'): 196,
 ('audi', 'ford'): 27,
 ('audi', 'hyundai'): 5,
 ('audi', 'mazda'): 14,
 ('audi', 'mercedes'): 47,
 ('audi', 'nissan'): 21,
 ('audi', 'toyota'): 15,
 ('audi', 'volkswagen'): 11,
 ('audi', 'volvo'): 47,
 ('bmw', 'ford'): 65,
 ('bmw', 'hyundai'): 25,
 ('bmw', 'nissan'): 74,
 ('bmw', 'toyota'): 44,
 ('bmw', 'volkswagen'): 13,
 ('bmw', 'volvo'): 56,
 ('ford', 'hyundai'): 13,
 ('ford', 'toyota'): 15,
 ('ford', 'volkswagen'): 4,
 ('hyundai', 'toyota'): 17,
 ('hyundai', 'volkswagen'): 2,
 ('mazda', 'bmw'): 35,
 ('mazda', 'ford'): 12,
 ('mazda', 'hyundai'): 5,
 ('mazda', 'nissan'): 15,
 ('mazda', 'toyota'): 15,
 ('mazda', 'volkswagen'): 6,
 ('mazda', 'volvo'): 13,
 ('mercedes', 'bmw'): 87,
 ('mercedes', 'ford'): 16,
 ('mercedes', 'hyundai'): 7,
 ('mercedes', 'mazda'): 4,
 ('mercedes', 'nissan'): 15,
 ('mercedes', 'toyota'): 10,
 ('mercedes', 'volkswagen'): 7,
 ('mercedes', 'volvo'): 31,
 ('nissan', 'ford'): 17,
 ('nissan', 'hyundai'): 9,
 ('nissan', 'toyota'): 47,
 ('nissan', 'volkswagen'): 4,
 ('nissan', 'volvo'): 25,
 ('volkswagen', 'toyota'): 4,
 ('volvo', 'ford'): 18,
 ('volvo', 'hyundai'): 3,
 ('volvo', 'toyota'): 15,
 ('volvo', 'volkswagen'): 6}

In [8]:
lifts_table = pd.DataFrame(columns = top_brands,
                   index = top_brands)

number_of_comments = data['comments'].notnull().value_counts()[True]

for i in lifts_table.index:
  for j in lifts_table.columns:
    if (i,j) in cooccurence:
      lifts_table[j][i] = (number_of_comments * cooccurence[(i,j)])/(brand_frequency[i]*brand_frequency[j])
      lifts_table[i][j] = (number_of_comments * cooccurence[(i,j)])/(brand_frequency[i]*brand_frequency[j])
    else:
      continue

lifts_table

                audi mercedes    mazda  ...   hyundai volkswagen   toyota
audi             NaN  4.26544  2.52562  ...  0.960578    9.04011  1.63157
mercedes     4.26544      NaN  1.49633  ...   2.78862    11.9291   2.2555
mazda        2.52562  1.49633      NaN  ...   3.95946    20.3252  6.72525
bmw          2.35151  2.16441  1.73086  ...   1.31661    2.92872  1.31196
nissan       1.51537   2.2445  4.46163  ...   2.85081    5.42005  8.42898
volvo        5.43177  7.42906  6.19284  ...   1.52192    13.0208  4.30836
ford         2.37743  2.92141   4.3554  ...   5.02474    6.61376  3.28256
hyundai     0.960578  2.78862  3.95946  ...       NaN    7.21501  8.11688
volkswagen   9.04011  11.9291  20.3252  ...   7.21501        NaN  8.16993
toyota       1.63157   2.2555  6.72525  ...   8.11688    8.16993      NaN

[10 rows x 10 columns]

In [9]:
lifts_table.to_csv('Lifts.csv')

## PART F

In [10]:
top_brands = ['audi','mercedes','mazda','bmw','nissan','volvo','ford','hyundai','volkswagen','toyota']
top_properties = ['performance','driving','luxury','engine','price']
freq_b = np.zeros(len(top_brands))
freq_p = np.zeros(len(top_properties))

In [11]:
brand_frequency = {k:v for k,v in zip(top_brands,freq_b)}
print(brand_frequency)

property_frequency = {k:v for k,v in zip(top_properties,freq_p)}
print(property_frequency)

{'audi': 0.0, 'mercedes': 0.0, 'mazda': 0.0, 'bmw': 0.0, 'nissan': 0.0, 'volvo': 0.0, 'ford': 0.0, 'hyundai': 0.0, 'volkswagen': 0.0, 'toyota': 0.0}
{'performance': 0.0, 'driving': 0.0, 'luxury': 0.0, 'engine': 0.0, 'price': 0.0}

In [12]:
def count_freq(s,key):
  if key.lower() in str(s).lower():
    return 1
  else:
    return 0

for key in brand_frequency.keys():
  count = 0
  count += data['comments'].apply(count_freq,args=(key,))
  brand_frequency[key] = count.value_counts()[1]

for key in property_frequency.keys():
  count = 0
  count += data['comments'].apply(count_freq,args=(key,))
  property_frequency[key] = count.value_counts()[1]

In [13]:
brand_frequency

{'audi': 338,
 'bmw': 1233,
 'ford': 168,
 'hyundai': 77,
 'mazda': 82,
 'mercedes': 163,
 'nissan': 205,
 'toyota': 136,
 'volkswagen': 18,
 'volvo': 128}

In [14]:
property_frequency

{'driving': 559,
 'engine': 571,
 'luxury': 479,
 'performance': 689,
 'price': 571}

In [15]:
import itertools
res = list(itertools.product(top_brands, top_properties))
res

[('audi', 'performance'),
 ('audi', 'driving'),
 ('audi', 'luxury'),
 ('audi', 'engine'),
 ('audi', 'price'),
 ('mercedes', 'performance'),
 ('mercedes', 'driving'),
 ('mercedes', 'luxury'),
 ('mercedes', 'engine'),
 ('mercedes', 'price'),
 ('mazda', 'performance'),
 ('mazda', 'driving'),
 ('mazda', 'luxury'),
 ('mazda', 'engine'),
 ('mazda', 'price'),
 ('bmw', 'performance'),
 ('bmw', 'driving'),
 ('bmw', 'luxury'),
 ('bmw', 'engine'),
 ('bmw', 'price'),
 ('nissan', 'performance'),
 ('nissan', 'driving'),
 ('nissan', 'luxury'),
 ('nissan', 'engine'),
 ('nissan', 'price'),
 ('volvo', 'performance'),
 ('volvo', 'driving'),
 ('volvo', 'luxury'),
 ('volvo', 'engine'),
 ('volvo', 'price'),
 ('ford', 'performance'),
 ('ford', 'driving'),
 ('ford', 'luxury'),
 ('ford', 'engine'),
 ('ford', 'price'),
 ('hyundai', 'performance'),
 ('hyundai', 'driving'),
 ('hyundai', 'luxury'),
 ('hyundai', 'engine'),
 ('hyundai', 'price'),
 ('volkswagen', 'performance'),
 ('volkswagen', 'driving'),
 ('volkswagen', 'luxury'),
 ('volkswagen', 'engine'),
 ('volkswagen', 'price'),
 ('toyota', 'performance'),
 ('toyota', 'driving'),
 ('toyota', 'luxury'),
 ('toyota', 'engine'),
 ('toyota', 'price')]

In [16]:
cooccurence = {k:v for k,v in zip(res,np.zeros(len(res)))}
cooccurence

{('audi', 'driving'): 0.0,
 ('audi', 'engine'): 0.0,
 ('audi', 'luxury'): 0.0,
 ('audi', 'performance'): 0.0,
 ('audi', 'price'): 0.0,
 ('bmw', 'driving'): 0.0,
 ('bmw', 'engine'): 0.0,
 ('bmw', 'luxury'): 0.0,
 ('bmw', 'performance'): 0.0,
 ('bmw', 'price'): 0.0,
 ('ford', 'driving'): 0.0,
 ('ford', 'engine'): 0.0,
 ('ford', 'luxury'): 0.0,
 ('ford', 'performance'): 0.0,
 ('ford', 'price'): 0.0,
 ('hyundai', 'driving'): 0.0,
 ('hyundai', 'engine'): 0.0,
 ('hyundai', 'luxury'): 0.0,
 ('hyundai', 'performance'): 0.0,
 ('hyundai', 'price'): 0.0,
 ('mazda', 'driving'): 0.0,
 ('mazda', 'engine'): 0.0,
 ('mazda', 'luxury'): 0.0,
 ('mazda', 'performance'): 0.0,
 ('mazda', 'price'): 0.0,
 ('mercedes', 'driving'): 0.0,
 ('mercedes', 'engine'): 0.0,
 ('mercedes', 'luxury'): 0.0,
 ('mercedes', 'performance'): 0.0,
 ('mercedes', 'price'): 0.0,
 ('nissan', 'driving'): 0.0,
 ('nissan', 'engine'): 0.0,
 ('nissan', 'luxury'): 0.0,
 ('nissan', 'performance'): 0.0,
 ('nissan', 'price'): 0.0,
 ('toyota', 'driving'): 0.0,
 ('toyota', 'engine'): 0.0,
 ('toyota', 'luxury'): 0.0,
 ('toyota', 'performance'): 0.0,
 ('toyota', 'price'): 0.0,
 ('volkswagen', 'driving'): 0.0,
 ('volkswagen', 'engine'): 0.0,
 ('volkswagen', 'luxury'): 0.0,
 ('volkswagen', 'performance'): 0.0,
 ('volkswagen', 'price'): 0.0,
 ('volvo', 'driving'): 0.0,
 ('volvo', 'engine'): 0.0,
 ('volvo', 'luxury'): 0.0,
 ('volvo', 'performance'): 0.0,
 ('volvo', 'price'): 0.0}

In [17]:
def count_freq(s,key1,key2):
  if (key1.lower() in str(s).lower()) and (key2.lower() in str(s).lower()):
    return 1
  else:
    return 0

for key1,key2 in cooccurence.keys():
  count = 0
  count += data['comments'].apply(count_freq,args=(key1,key2))
  cooccurence[(key1,key2)] = 5000-count.value_counts()[0]

In [18]:
cooccurence

{('audi', 'driving'): 45,
 ('audi', 'engine'): 73,
 ('audi', 'luxury'): 54,
 ('audi', 'performance'): 72,
 ('audi', 'price'): 77,
 ('bmw', 'driving'): 191,
 ('bmw', 'engine'): 209,
 ('bmw', 'luxury'): 172,
 ('bmw', 'performance'): 262,
 ('bmw', 'price'): 227,
 ('ford', 'driving'): 16,
 ('ford', 'engine'): 37,
 ('ford', 'luxury'): 29,
 ('ford', 'performance'): 35,
 ('ford', 'price'): 34,
 ('hyundai', 'driving'): 10,
 ('hyundai', 'engine'): 6,
 ('hyundai', 'luxury'): 25,
 ('hyundai', 'performance'): 9,
 ('hyundai', 'price'): 17,
 ('mazda', 'driving'): 15,
 ('mazda', 'engine'): 11,
 ('mazda', 'luxury'): 18,
 ('mazda', 'performance'): 23,
 ('mazda', 'price'): 15,
 ('mercedes', 'driving'): 13,
 ('mercedes', 'engine'): 33,
 ('mercedes', 'luxury'): 37,
 ('mercedes', 'performance'): 24,
 ('mercedes', 'price'): 28,
 ('nissan', 'driving'): 20,
 ('nissan', 'engine'): 54,
 ('nissan', 'luxury'): 31,
 ('nissan', 'performance'): 38,
 ('nissan', 'price'): 24,
 ('toyota', 'driving'): 15,
 ('toyota', 'engine'): 27,
 ('toyota', 'luxury'): 32,
 ('toyota', 'performance'): 15,
 ('toyota', 'price'): 24,
 ('volkswagen', 'driving'): 0,
 ('volkswagen', 'engine'): 6,
 ('volkswagen', 'luxury'): 10,
 ('volkswagen', 'performance'): 3,
 ('volkswagen', 'price'): 6,
 ('volvo', 'driving'): 16,
 ('volvo', 'engine'): 23,
 ('volvo', 'luxury'): 32,
 ('volvo', 'performance'): 18,
 ('volvo', 'price'): 19}

In [19]:
lifts_table = pd.DataFrame(columns = top_brands,
                   index = top_properties)

number_of_comments = 5000
for i in lifts_table.index:
  for j in lifts_table.columns:
    if (j,i) in cooccurence:
      lifts_table.loc[i][j] = (number_of_comments * cooccurence[(j,i)])/(property_frequency[i]*brand_frequency[j])
    else:
      continue

lifts_table

                audi  mercedes    mazda  ...   hyundai volkswagen    toyota
performance  1.54585    1.0685  2.03547  ...  0.848208    1.20948  0.800393
driving      1.19084  0.713369   1.6362  ...   1.16163          0  0.986531
luxury       1.66768   2.36946  2.29136  ...    3.3891    5.79912    2.4561
engine       1.89121    1.7728  1.17466  ...   0.68233    2.91886   1.73844
price        1.99484    1.5042  1.60181  ...   1.93327    2.91886   1.54528

[5 rows x 10 columns]

## END OF CODE